.highlighted-movie {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    width: 1000px;
}

.highlight-image {
    width: 350px;
}

.highlight-overview {
    margin-top: 5vh;
    margin-bottom: 10px;
    font-size: large;
}

h1 {
    color: aliceblue;
    margin-top: 5px;
    margin-bottom: 5px;
}

button {
    margin-top: 5vh;
}

button:hover {
    cursor: pointer;
}
.error-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-section {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    /* align-items: center; */
}