

.banner-poster {
    width: 250px;
    margin-right: -275px;
    margin-bottom: 13px;
    position: relative;
    z-index: 2;
}

.banner-image {
    height: 400px;
    opacity: .3;
    border-radius: 10px;
}

.banner-image:hover {
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(255,255,255, 0.3);
}

.banner-poster:hover {
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(255,255,255, 0.3);
}

.glideContainer {
    width: 80vw;
}

.glide__slide {
    display: flex;
    justify-content: center;
}
/* 
@media only screen and (max-width: 900px) {

    .glide__arrow--left {
        position: absolute;
        left: 5vw;
    }
    
    .glide__arrow--right {
        position: absolute; 
        right: 5vw;
    }
} */

@media only screen and (min-width: 1500px) {

    .glide__arrow--left {
        position: absolute;
        left: 18vw;
    }
    
    .glide__arrow--right {
        position: absolute; 
        right: 18vw;
    }
}

