.card {
  /* border: 3px solid black; */
  box-sizing: border-box;
  height: 240px;
  width: 120px;
  background-color: black;
  border-radius: 5px;
}
.card:hover {
  cursor: pointer;
}
.cardImage {
  width: 120px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
p {
  font-size: small;
  color: azure;
  margin-top: 1px;
  margin-bottom: 0px;
}
.card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5px;
}